<div class="body">
  <div class="header">
    <img class="image" src="https://cdn.anotepad.com/images/anotepad.svg" />
    <h1 class="header-title">NOTE.online</h1>
    <span style="flex: 1 auto"></span>
    <label class="label-language">Language: </label>
    <Select class="language">
      <option selected>English</option>
      <option>Vietnamese</option>
      <option>Frank</option>
      <option>Russia</option>
    </Select>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
